%input-setting {
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  margin: 0 0.3rem 0 0.12rem;
}

.settings-panel {
  &__form {
    width: 35rem;
    margin: auto;
    background: gray;
    border-radius: 0.3rem;
    padding: 1%;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 3% 0;

    &_top {
      width: 60%;
    }

    &_bottom {
      width: 92%;
    }
  }

  &__text {
    color: white;
  }

  &__min {
    @extend %input-setting;
  }

  &__max {
    @extend %input-setting;
  }

  &__step {
    @extend %input-setting;
  }

  &__handle {
    @extend %input-setting;
  }

  &__second-handle {
    @extend %input-setting;
  }

  &__plugin {
    background: white;
    height: 12.5rem;
    width: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5%;
  }
}
