
mixin settings-panel(options)
  -let { idTable= '', idSlider='', tooltip= false, twoSlider= false, vertical= false} = options;

  .slider(id= idTable)
    .slider__wrapper
      .slider__block.slider__block_top
        span.slider__text Tooltip:
        input.slider__tooltip(type="checkbox" checked= tooltip) 
        span.slider__text Two slider:
        input.slider__twoSlider(type="checkbox" checked= twoSlider)
        span.slider__text Vertical:
        input.slider__vertically-horizontally(type="checkbox" checked= vertical)
      .slider__block.slider__block_bottom 
        span.slider__text Min:
        input.slider__input.slider__input_min(type="number" value="0" )
        span.slider__text Max:
        input.slider__input.slider__input_max(type="number" value="100")
        span.slider__text Step:
        input.slider__input.slider__input_step(type="number" value="1")
        span.slider__text Value min:
        input.slider__input.slider__input_value-min(type="number" value="0")
        span.slider__text Value max:
        input.slider__input.slider__input_value-max(type="number" value="100")
      .slider__plugin
        .slider-range(id= idSlider)
