include ../range-slider/range-slider

mixin settings-panel(options)

  .slider.js-slider
    form.slider__form
      .slider__block.slider__block_top
        span.slider__text Tooltip:
        input.slider__tooltip(type="checkbox") 
        span.slider__text Two handles:
        input.slider__two-slider(type="checkbox")
        span.slider__text Vertical:
        input.slider__vertically-horizontally(type="checkbox")
      .slider__block.slider__block_bottom 
        span.slider__text Min:
        input.slider__input-min(type="number" value="")
        span.slider__text Max:
        input.slider__input-max(type="number" value="")
        span.slider__text Step:
        input.slider__input-step(type="number" value="")
        span.slider__text Handle:
        input.slider__input-value-min(type="number" value="")
        span.slider__text Second handle:
        input.slider__input-value-max(type="number" value="")
      .slider__plugin
        +range-slider(options)

